

/* * { border: 1px solid red; }*/

body {
    /* FONT */
    color: black;
    font-family: century-old-style-std, serif;
    font-weight: 400; /*Bold is weight 700*/
    font-style: normal;
    /* SETUP */
    padding: 3% 1.5% 0% 1.5%;
    margin: 0;
    /* ANIMATION */
    transition: 0.3s;
    /*REMOVE SCROLLBAR*/
    -ms-overflow-style: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
    /*REMOVE SCROLLBAR*/
    body::-webkit-scrollbar {
        display: none;
    }
/* SIDEBAR */
.sidebar {
    /* SETUP */
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 2.5%;
    /* VISUAL */
    background-color: #3b2e34;
    /* ANIMATION */
    transition: 0.5s;
}

    .sidebar p {
        /* SETUP */
        padding: 5% 0% 0% 10%;
        display: block;
        margin-top: 9vh;
        /* ANIMATION */
        transition: 0.5s;
        /* VISUAL */
        text-decoration: none;
        font-size: 2.2vw;
        color: white;
    }

    .sidebar a {
        /* SETUP */
        padding: 5% 2.5% 5% 20%;
        display: inline-block;
        /* ANIMATION */
        transition: 0.5s;
        /* VISUAL */
        text-decoration: none;
        font-size: 1.8vw;
        color: #818181;
    }

        .sidebar a:after {
            /*SETUP*/
            display: block;
            padding-top: 2px;
            content: '';
            /*VISUAL*/
            border-bottom: solid 2px #818181;
            transform: scaleX(0);
            /*ANIMATION*/
            transition: transform .5s, border 0.3s;
            transform-origin: 0 50%;
        }

        .sidebar a:hover:after {
            /* VISUAL */
            transform: scaleX(1.05);
            border-bottom-color: #f1f1f1;
            /*ANIMATION*/
            transform-origin: 0% 50%;
        }

        .sidebar a:hover {
            /* VISUAL */
            color: #f1f1f1;
        }

    .sidebar .closebtn {
        /* SETUP */
        position: absolute;
        top: 0;
        right: 25px;
        margin-left: 50px;
        /* VISUAL */
        font-size: 36px;
    }

        .sidebar .closebtn:after {
            border-bottom: none;
        }

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

        .sidebar a {
            font-size: 18px;
        }
}
/* HEADER */
#headerWrapper {
    /* SETUP */
    margin-left: 13.85%;
    margin-right: 13.85%;
    /* BORDER */
    border-bottom: solid 1px gray;
    /* ANIMATION */
    transition: 0.3s;
}

#headerContent p {
    margin: 0%;
    font-size: 4vw;
    text-align: center;
}
/* ICONS */
#buttonWrapper {
    /* SETUP */
    display: inline-block;
    margin-left: 13.85%;
    margin-right: 13.85%;
    width: 72.3%;
    
    text-align: center;
    /* BORDER */
    border-bottom: solid 1px gray;
    /* ANIMATION */
    transition: 0.3s;
}

#buttonContent {
    /* SETUP */
    display: inline-block;
    height: 3.8vw;
    width: 72.3%;
}

.ButtonIcon img {
    /*SETUP*/
    display: inline-block;
    width: 4.5vw;
    margin: .35vw 0vw .35vw 0vw;
    padding: .7vw;
    /*ANIMATION*/
    -webkit-transition: background-color 0.3s, border-radius 0s;
}



.ButtonIcon {
    /*SETUP*/
    position: relative;
    display: inline-block;
}

.HeaderButton {
    /*SETUP*/
    display: inline-block;
    margin: 0 3vw 0 3vw;
}

/* PARTITION */
#partitionContent {
    /*SETUP*/
    display: inline-block;
    margin-left: 13.85%;
    margin-right: 13.85%;
    width: 72.3%;
    height: 70vh;
    overflow: hidden;
    /*BORDER*/
    border-bottom: solid 1px gray;
    /*ANIMATION*/
    transition: 0.3s;
}

#partitionTextPadding {
    /*SETUP*/
    display: inline-block;
    padding: 5% 0% 2vw 5%;
    max-width: 40vw;
}

#partitionText {
    /*SETUP*/
    display: inline-block;
    padding: 0% 5% 0% 0%;
    width: 100%;
}

    #partitionText p {
        /*VISUAL*/
        font-size: 1.424128843vw;
        /*ANIMATION*/
        transition: 0.3s;
    }

#partitionImageWrapper {
    /*SETUP*/
    white-space: nowrap;
    max-width: 23vw;
    display: inline-block;
    padding: 5% 2.5% 2.5% 0%;
    height: 62vh;
    float: right;
}

#partitionImage {
    /*SETUP*/
    display: inline-block;
    padding-left: 3vw;
    height: 90%;
    /*BORDER*/
    border-left: solid 1px gray;
    /*ANIMATION*/
    transition: 0.3s;
}
/* FEATURED */
.Header {
    /*SETUP*/
    display: inline-block;
    margin-left: 13.85%;
    margin-right: 13.85%;
    width: 72.3%;
    /*BORDER*/
    border-bottom: solid 1px gray;
    /*ANIMATION*/
    transition: 0.3s;
}

    .Header p {
        /*SETUP*/
        margin: 0;
        padding: 2%;
        /*VISUAL*/
        text-align: center;
        font-size: 3.2vw;
        /*ANIMATION*/
        transition: 0.3s;
    }

#featuredWrapper {
    /*SETUP*/
    display: inline-block;
    margin-left: 13.85%;
    margin-right: 13.85%;
    width: 72.3%;
    /*BORDER*/
    border-bottom: solid 1px gray;
    /*ANIMATION*/
    transition: 0.3s;
}

#featuredContentWrapper {
    /*SETUP*/
    text-align: center;
    margin: 3% 0vw 3% 0vw;
    max-height: 300px;
    white-space: nowrap;
    /*ANIMATION*/
    transition: 0.3s;
}

.ContentThumbnail {
    /*SETUP*/
    display: inline-block;
    margin: 0% 5% 0% 5%;
    max-width: 160px;
    max-height: 240px;
    width: 12vw;
    height: 18vw;
    /*ANIMATION*/
    transition: 0.3s;
}

    .ContentThumbnail:hover .ContentThumbnailCaption {
        /*SETUP*/
        z-index: 1;
        /*VISUAL*/
        filter: opacity(100%);
    }

    .ContentThumbnail:hover .ContentThumbnailImage {
        /*SETUP*/
        transform: scale(1.2);
        /*VISUAL*/
        filter: brightness(50%);
    }

    .ContentThumbnail a {
        /*SETUP*/
        display: inline-block;
        position: relative;
        /*ANIMATION*/
        transition: 0.3s;
    }

.ContentThumbnailImage {
    /*SETUP*/
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    max-height: 300px;
    max-width: 200px;
    /*ANIMATION*/
    transition: transform .5s, filter .5s;
}

.ContentThumbnailCaption {
    /*SETUP*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*VISUAL*/
    color: white;
    filter: opacity(0);
    font-size: 2vw;
    /*ANIMATION*/
    transition: 0.5s;
}
/*PRELUDE*/
#preludeContentWrapper {
    /*SETUP*/
    display: inline-block;
    margin-left: 13.85%;
    margin-right: 13.85%;
    width: 72.3%;
    text-align: center;
    /*ANIMATION*/
    transition: 0.3s;
}

#preludeContent {
    /*SETUP*/
    text-align: center;
    margin: 2% 5% 2% 5%;
    padding-bottom: 0.3vw;
}

    #preludeContent p {
        /*VISUAL*/
        font-size: 1.4vw;
    }

    #preludeContent a {
        /*VISUAL*/
        font-family: lato, sans-serif;
        font-size: 1.4vw;
        text-decoration: none;
        font-weight: 500;
        font-style: normal;
        color: black;
        /*ANIMATION*/
        transition: 0.3s;
    }

        #preludeContent a:after {
            /*SETUP*/
            display: block;
            content: '';
            /*VISUAL*/
            border-bottom: solid 0.12vw black;
            transform: scaleX(0);
            /*ANIMATION*/
            transition: 0.3s;
        }

        #preludeContent a:hover:after {
            /*VISUAL*/
            transform: scaleX(.2);
        }

        #preludeContent a:hover {
            /*VISUAL*/
            font-size: 1.7vw;
        }
/*FOOTER*/

#footerWrapper {
    /*SETUP*/
    margin: 0% -1.55% 0% -1.55%;
    padding: 0.5% 15.35%;
    overflow: auto;
    /*VISUAL*/
    background-color: #3b2e34;
    color: white;
    /*ANIMATION*/
    transition: 0.3s;
}

#footerContent {
    /*SETUP*/
    padding: .5vw 0vw;
    overflow: auto;
}

#footerPartitionLeft {
    /*SETUP*/
    float: left;
    height: auto;
    padding: .5vw 0vw .5vw .5vw;
    /*VISUAL*/
    font-size: 2vw;
}

    #footerPartitionLeft p {
        /*SETUP*/
        margin: 0;
        margin-top: -0.5vw;
    }

#footerPartitionRight {
    /*SETUP*/
    float: right;
    height: 100%;
    padding-left: 7.5vw;
    /*VISUAL*/
    border-left: 1px solid white;
}

.FooterDrop {
    /*SETUP*/
    display: inline-grid;
    margin-right: 4vw;
    
}

    .FooterDrop p {
        /*SETUP*/
        margin: 0vw 0vw;
    }

    .FooterDrop a {
        /*VISUAL*/
        text-decoration: none;
        color: black;
        font-size: 2vw;
        font-weight: 500;
        color: white;
    }

    .FooterDrop ul {
        /*SEtup*/
        padding-left: 1.5vw;
        display:table-column;
        /*VISUAL*/
        list-style-type: none;
        margin: 0;
    }

    .FooterDrop li a {
        /*VISUAL*/
        font-size: 1.5vw;
        color: gray;
        /*ANIMATION*/
        transition: 0.1s;
    }

        .FooterDrop li a:hover {
            /*VISUAL*/
            color: white;
        }




/*GALLERY\\ ONLY*/

/*SIFTER*/
#sifterWrapper{
    /*SETUP*/
      z-index: 2;
    margin:0% 13.85%;
    width:72.3%;
    display:flex;
    flex-flow: row nowrap;
    justify-content:space-around;
    align-items:baseline;
    position:relative;
    height:2vw;
    overflow:visible;
    /*VISUAL*/
    border-top: 1px solid gray;
    border-bottom:1px solid gray;
    /*ANIMATION*/
    transition: 0.5s;

}
#sifterWrapper > *{
    /*SETUP*/
    position:absolute;
    top:0;
    bottom:0;
    padding:0;
    margin:0;
    border:0;
    outline:0;
    line-height:2vw;
    /*VISUAL*/
    font-size:1.4vw;
    font-family:century-old-style-std, serif;
    /*ANIMATION*/
    transition: 0.5s;
}
#searchBarWrapper {
    /*SETUP*/
    left: 5.3626%;
    /*ANIMATION*/
    background: linear-gradient(to right,  #cccccc 33.333333%, #f2f2f2 33.333334%, #f2f2f2 66.666666%, transparent 50%);
    background-size: 300% 100%;
    background-position: right bottom;
    background-repeat: no-repeat;
    /*ANIMATION*/
    transition: 0.5s;
}
#searchBar {

    /*SETUP*/
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    
    /*VISUAL*/
    font-size: 1.4vw;
    font-family: century-old-style-std, serif;
    background:transparent;

   
    /*ANIMATION*/
    transition: 0.3s;
}



#typeSelector {
    /*SETUP*/
    z-index: 2;
    left: 32.9595%;
    /*VISUAL*/
    cursor: pointer;
    /*ANIMATION*/
    background: linear-gradient(to right, #cccccc 33.333333%, #f2f2f2 33.333334%, #f2f2f2 66.666666%, transparent 50%);
    background-size: 300% 100%;
    background-position: right bottom;
    background-repeat: no-repeat;
    /*ANIMATION*/
    transition: all 0.5s, background-color 0s;
}
#typeSelector p{
   /*SETUP*/
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
    margin:0;
    padding:0;
    /*ANIMATION*/
    transition: 0.5s;

}



#typeSelectorDropdown {
    /*SETUP*/
    margin-top: 1px;
    display: none;
    position: absolute;
    z-index: 2;
    height: 10vw;
    overflow: hidden;
    width: 8.58916544656vw;
    box-sizing: border-box;
    /*VISUAL*/
    background-color: white;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /*ANIMATION*/
    transition: 0.3s, height initial;
}
.TSDButton {
    /*SETUP*/
    padding-left: 0.5vw;
    /*VISUAL*/
    cursor: pointer;
    background: linear-gradient(to right, #f2f2f2 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    background-repeat: no-repeat;
    /*ANIMATION*/
    transition: 0.4s ease-in-out;
}




#dateSelector {
    /*SETUP*/
    left: 50.5697%;
    

    max-height:2vw;
    overflow:hidden;

    display: flex;
    align-items: center;
    /*ANIMATION*/
    background: linear-gradient(to right, #f2f2f2 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    background-repeat: no-repeat;
    /*ANIMATION*/
    transition: 0.5s;
}
#dateSelector > *{
    height:2vw;
    line-height:2vw;
    /*ANIMATION*/
    transition: 0.5s;
    background:transparent;
}
#dateSelector input{
    /*SETUP*/
    border:0;
    outline:0;
    
    /*VISUAL*/
    font-size:1.4vw;
    font-family:century-old-style-std, serif;
    /*ANIMATION*/
    background: linear-gradient(to right, #cccccc 50%, transparent 50%);
    background-size: 200% 500%;
    background-position: right bottom;
    background-repeat:no-repeat;
    background-clip: border-box;
    /*ANIMATION*/
    transition: 0.5s;
}
#dateSelector p{
    /*SETUP*/
    margin:0;
    padding:0 0.3vw;
}
  





/*BROWSER*/

#browserWrapper {
    /*SETUP*/
    
    margin: 0 13.85%;
    
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
    padding: 1vw 0.5vw;
    flex: 0 1 calc(14.54vw);
    /*VISUAL*/
   
    /*ANIMATION*/
    transition:0.3s;
    
}

#browserWrapper > .ContentThumbnail, #browserWrapper > .Filler{
    /*SETUP*/
  
    margin: 1vw 0vw;
    text-align:center;
    
    max-width: none;
    max-height: none;
}
#browserWrapper > .ContentThumbnail:hover{
    /*ANIMATION*/
    transform: scale(.95);
}
.Filler {
    /*SETUP*/
    
    width: 12vw;
    height: 18vw;
    /*VISUAL*/
    
    visibility:hidden;
}










/*HIDES*/
@media only screen and (max-width: 1239px) {
    #partitionImage {
        height: auto;
        width: 23vw;
    }

    #partitionImageWrapper {
        height: auto;
        width: 23vw;
    }

    #partitionContent {
        height: auto;
    }
}
