/**{border: 1px solid red;}*/
body {
    margin: 0;
    font-family: 'Times New Roman';
    min-height: 400vh;

    
}
html, body {
    /*
    -webkit-overflow-scrolling: auto;
         overscroll-behavior-y: none;
    */
    -webkit-overflow-scrolling: auto;
    overscroll-behavior-y: none;
}
p, h1, h2, h3, h4, h5, h6{
    font-size: inherit;
    font-weight:inherit;
    margin: 0;
}
a, a > p {
    text-decoration: none;
    color: inherit;
}
ul{
    margin:0;
    list-style-type:none;
    padding:0;
}
li{
    display:block;
}




.F2 {
    font-size: 1.5rem;
}
.FA{
    font-size:1.1rem;
}


.I2 {
    height: 3rem;
    width:auto;
}

.BRDR {
    border-bottom: 1px solid gray;
}
.BTN{
    cursor:pointer;
}
.CNTR{
    text-align:center;
}








#accessOptions {
    padding: 0.25rem 0;
   
    background-color: #bceac7;
    position:fixed;
    width:100%;
}
#accessOptions > ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}
#accessOptions > ul > li{

    padding:0 1rem
}

.LIBRD{
    border-left: 1px solid gray;
}

#navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 0.75rem 2rem 0.25rem 2rem;
    box-sizing: border-box;
    z-index:4;
    top:0;
    overflow:hidden;
 
  
}


#navigation {
    display: flex;
    flex-flow: row nowrap;
}

.NavItem {
    display: flex;
    flex-flow: row nowrap;
    padding: 0 .5rem;
    align-items: baseline;
    height: intrinsic;
    height: -moz-max-content;
    height: -webkit-max-content;

}

.NavItem p {
padding-left: 1rem;
}

#dropDown, #dropDown > img {
    display: none;
}
#mobileNavMenu {
    position:fixed;
    overflow:hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content:space-around;
    align-items: center;
    width:100%;
    height:100%;
    background-color:inherit;
 
  
}
@media only screen and (orientation: landscape) {
    #mobileNavMenu{
        flex-flow:row nowrap;
    }
}
.MobileNavItem {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
}
.MobileNavItem > *{
    padding: 0.25rem 0;
}

#pageContent{
    padding: 0 2rem;
}

