body {
    margin: 0;
    font-family: century-old-style-std, serif;

    min-height:400vh;
}
p{
    margin:0;
}
a, a > p{
   text-decoration:none;
   color:inherit;
}
#navbar {
    z-index:3;    
    width:100%;
    position:fixed;
    border-bottom: 1px solid gray;

    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    align-items:center;
}
#navbarName{
    display:flex;
    flex-flow:row nowrap;
    align-items:baseline;
    padding-left:2rem;
    
    padding-top:1rem;
}
#logo {
   height:2.75rem;
   margin-right:-0.3rem;

}
#title {
    font-size: 2.75rem;
   
}
#navigation {
    padding-right:2rem;
    display: flex;
    flex-flow: row wrap;
    
    align-items: center;
    order:2;
   
  
   
}
#navigation img{
    height:2.75rem;
    padding: 0 1rem;
    
}
#navigation p{
   
    font-size:1.6rem;
}
.NavItem {
    padding-top:1rem;
    display:flex;
    flex-flow:row nowrap;
    align-items:baseline;
    justify-content:space-between;

    
}
#dropDown {
    padding-right: 2rem;
    display: none;
}
#openDrop {
    padding-top:1rem;
    cursor: pointer;
    height: 2.75rem;
    display:none;
}
#closeDrop {
    padding-top:1rem;
    cursor: pointer;
    height: 2.75rem;
    display:none;
}
#dropDownMenu {
    z-index:2;
    
    overflow-y:hidden;
    
    width: 100%;

    position: fixed;
    padding-top:2.5%;
    
    display: flex;
  
    flex-flow: column nowrap;
    
    align-items:center;
}
.DDItem{
   


    padding: .25rem 0;
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;

}
.DDItem img{
    height:2.8rem;
   
}
.DDItem p{
   
    
    font-size:2.3rem;
}


