input[type=radio].FS, input[type=checkbox].FS{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border:2px solid black;
    background:white;
    border-radius: .75rem;
    display:inline-block;
    vertical-align:bottom;
    
}
input[type=radio].FS:checked, input[type=checkbox].FS:checked{
    background:black;
}
input[type=color]{
    display: block;   
}
input[type=color].FS{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: white;
    border:2px solid black;
    margin-top:.5rem;
    margin-bottom:.5rem;
    padding:.25rem;
    border-radius:100%;
}
input[type=color].FS::-webkit-color-swatch-wrapper {
    padding:0;
}

/*This looks redundant, but using a comma selector here breaks the psuedoclass for Chrome.*/
input[type=color].FS::-webkit-color-swatch{
    border:none;
    border-radius:100%;
}
input[type=color].FS::-moz-color-swatch{
    border:none;
    border-radius:100%;
}
input[type=submit].FS, #errorOverride.FS{
    width:6.5rem;
}
input[type=range]{
    display:block;
}
label{
   line-height: 100%;
    /*MAKE SURE THIS IS HANDLED BY PARAGRAPH SPACING AXS OPTION*/
   margin-top:1rem;
   margin-bottom:1rem;
}
fieldset{
    margin-bottom:1rem;
}
fieldset.FS{
    border:none;
}
#errorOverride{
    display: none;
}
#errorBox{
    /*MAKE SURE THIS IS HANDLED BY PARAGRAPH SPACING AXS OPTION*/
    margin-top: 1rem;
    margin-bottom:1rem;  
}
#errorBox strong{
    display:block;
    /*MAKE SURE THIS IS HANDLED BY PARAGRAPH SPACING AXS OPTION*/
    
    margin-top:1rem;
    margin-bottom:1rem;
}
legend{
    font-weight:bold;
    /*MAKE SURE THIS IS HANDLED BY PARAGRAPH SPACING AXS OPTION*/
    margin-bottom:1rem;
    font-size:1.5rem;
  
}
.InputGroup{
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
}
.ColorTextInput.FS{
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing:border-box;
    border-bottom:.5rem solid black;
    width:12rem;
    height:2.75rem;
}

