input[type=radio].FS, input[type=checkbox].FS{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border:2px solid black;
    background:white;
    border-radius: .75rem;
    display:inline-block;
    vertical-align:bottom;
    margin:0;

}
input[type=radio].FS::-ms-check, input[type=checkbox].FS::-ms-check{
    border-radius: .5rem;
    display:inline-block;
    vertical-align:bottom;
    background:white;
    border-width:2px;
    border-style:solid;
    border-color:inherit;
    margin:0;
}
input[type=radio].FS:checked::-ms-check, input[type=checkbox].FS:checked::-ms-check{
    background-clip:content-box;
    background:black;
}
input[type=radio].FS:checked, input[type=checkbox].FS:checked{
    background-clip:content-box;
    background:black;
}

input[type=color].FS{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: white;
    border:2px solid black;
    margin-top:.5rem;
    margin-bottom:.5rem;
    padding:.25rem;
    border-radius:100%;
}
input[type=color].FS::-webkit-color-swatch-wrapper {
    padding:0;
    outline:none;
}
input[type=color].FS::-webkit-color-swatch{
    border:none;
    border-radius:100%;
    
}
input[type=color].FS::-moz-color-swatch{
    border:none;
    border-radius:100%;
 
}
input[type=submit].FS, #errorOverride.FS{
    min-width:6.5rem;
}
input[type=range], input[type=color], input[type=reset]{
    display:block;
}
label{
   line-height: 1;
}
fieldset{
    margin-bottom:1rem;
    width:90%;
}
fieldset.FS{
    border:none;
}
#errorOverride{
    display: none;
}

#errorBox strong{
    display:block;
    
    
    
}
legend{
    font-weight:bold;
    /*MAKE SURE THIS IS HANDLED BY PARAGRAPH SPACING AXS OPTION*/
    margin-bottom:1rem;
    font-size:1.5rem;
  
}
.InputGroup{
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    
}
.ColorTextInput.FS{
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing:border-box;
    border-bottom:.5rem solid black;
    width:12rem;

    color:inherit;
    background-color:rgba(0,0,0,0);
    border-style:solid;
}

/*range*/

input[type=range] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    box-sizing:content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    border-radius:1rem;
 
    width:12rem;
    background:white;       
    padding: .5rem .5rem;
    margin-top:1rem;
    margin-bottom:1rem;

    

    
}
input[type=range]::-webkit-slider-runnable-track {
   
    height:1rem;
    border:2px solid black;
    border-radius:.75rem;
    
}
input[type=range]::-moz-range-track {
    height:.75rem;
    border:2px solid black;
    border-radius:.75rem;
    
}

input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width:2.75rem;
    height:2.75rem;
    color:black;
    background-color:black;
    border-radius:2.75rem;
    margin-top:-1rem;
    cursor: pointer;
    border:none;
}
input[type=range]::-moz-range-thumb{
    
    -moz-appearance: none;
    width:2.75rem;
    height:2.75rem;
    color:black;
    background-color:black;
    border-radius:2.75rem;
    cursor: pointer;
    border:none;
}
input[type=range]::-ms-thumb{
   -ms-appearance:none;
    width:2.75rem;
    height:2.75rem;
    color:black;
    background-color:black;
    border-radius:2.75rem;
    margin-top:0rem;
}

input[type=range]::-ms-track {
   background: transparent;
}
input[type=range]::-ms-fill-lower {
   border:2px solid black;
  border-radius:.75rem;
}

input[type=range]::-ms-fill-upper {
  border:2px solid black;
  border-radius:.75rem;
  
}
input[type=reset]{
    margin-top: 1rem;
    margin-bottom:1rem;
}
.FauxFieldset{
    padding-left:.75rem;
   
}
#iAS.FS{
    padding:0;
}
#iAS legend{
    font-size: 1.25rem;
}
#submitAudioPrefs, #submitVideoPrefs{
    margin:1rem 0;
}
