input[type=radio].FS, input[type=checkbox].FS{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border:2px solid black;
    background:white;
    border-radius: .75rem;
    display:inline-block;
    vertical-align:bottom;
    
}
input[type=radio].FS:checked, input[type=checkbox].FS:checked{
    background:black;
}
input[type=color]{
    display: block;   
}
input[type=color].FS{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: transparent;
    outline:none;
    border:none;
    margin-top:.5rem;
    margin-bottom:.5rem;
}
input[type=color].FS::-webkit-color-swatch-wrapper{
    padding:0;
}
input[type=color].FS::-webkit-color-swatch{
    border:2px solid black;
    border-radius:100%;
}
input[type=submit].FS, #errorOverride.FS{
    width:6.5rem;
}
label{
   line-height: 100%;
}
fieldset{
    margin-bottom:1rem;
}
fieldset.FS{
    border:none;
}
#errorOverride{
    display: none;
}
#errorBox{
    /*MAKE SURE THIS IS HANDLED BY PARAGRAPH SPACING AXS OPTION*/
    margin-top: 1rem;
    margin-bottom:1rem;  
}
#errorBox strong{
    /*MAKE SURE THIS IS HANDLED BY PARAGRAPH SPACING AXS OPTION*/
    display:block;
    margin-top:1rem;
    margin-bottom:1rem;
}
legend{
    /*MAKE SURE THIS IS HANDLED BY PARAGRAPH SPACING AXS OPTION*/
    margin-bottom:1rem;
    font-size:1.5rem;
    font-weight:bold;
}

