.ArticleWrapper{
    margin-right:3rem;
    overflow:auto;
    transition:none;
    padding-top:1rem;
    padding-bottom:1rem;
}
.ArticleWrapper:focus-within{
    outline: 2px solid;
    outline-offset: .35rem;
    
}
.ArticleWrapper h2{
    font-size:1.5rem;
    margin-top:0;
}
.ArticleWrapper p{
    margin-bottom:0;
}
.ArticleWrapper a{
    text-decoration:none;
    display:block;
    overflow:auto;
}

#articleSearch{
    margin-top:1rem;
    margin-bottom:1rem;
    width:80%;
    border-radius: 0px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
label{
    display:block;
}



/*Media Queries*/


@media only screen and (max-width: 36.750em){
    .ArticleWrapper{
        margin-right:1.5rem;
    }
    
  
    
    
    
}  
@media only screen and (max-width: 22.500em){
   
    .ArticleWrapper{
        margin-right:5%;
        margin-left:5%;
    }
    
}