input[type="date"]{
    width:10.5rem;
}

#gallerySearch{
    margin-top:1rem;
    margin-bottom:1rem;
    border-radius: 0px;
    width:80%;
    display:inline-block;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
#gallerySifterSearch label{
    display:block;
}

#gallerySifterFilter > div >div{
    margin-top:.5rem;
    margin-bottom:.5rem;
}

#gallerySifterType{
    width:10.5rem;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
   
}
#startDate, #endDate, #gallerySifterType label[for=startDate], label[for=endDate], label[for=gallerySifterType]{
    line-height: 2.75rem;
    vertical-align: baseline;
}
#startDate, #endDate{
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
#gallerySifterFilter{
    display:none;
}
#showFiltersButton{
    margin-left:1rem;
    font-size:1.5rem;
    margin-top:0;
 
}

/*Media Queries*/


@media only screen and (max-width: 41.625em){
    #gallerySifterFilter > div > div{
        display:flex;
        flex-flow:row-reverse nowrap;
        justify-content: space-between;
        align-items: baseline;
    }
    
}
@media only screen and (max-width: 26em){
    #showFiltersButton{
        margin-left:0;
    }
}
    