/*Gallery Card*/
.Card{
    text-decoration: none;
    position:relative;
    display: inline-block;
    transition:250ms;
    width:20rem;
    height:20rem;
    margin:1rem;
    

}
.Card_hover:hover{
    transform:scale(1.05);
}
.CardImage{
    width:100%;
    height:100%;
    object-fit: cover;
}
.CardTitle{
    font-size:1.25rem;
    position:absolute;
    top:0;
    background-color:black;
    color:white;
    z-index: 1;
    padding: .3125rem 1rem;
    max-width:100%;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.CardDesc{
    width:100%;
    padding:.5rem 1rem;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    position:absolute;
    bottom:0;
    background-color:black;
    color:white;
    z-index: 1;
}
#galleryList{
    margin:1.5rem;
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
}
input[type="date"]{
    width:10.5rem;
}

#gallerySearch{
    margin-top:1rem;
    border-radius: 0px;
    width:80%;
    display:inline-block;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
#gallerySifterSearch label{
    display:block;
}

#gallerySifterFilter > div >div{
    margin-top:.5rem;
    margin-bottom:.5rem;
}


#gallerySifterType{
    width:10.5rem;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
#startDate, #endDate, label[for=startDate], label[for=endDate]{
    line-height: 2.75rem;
    vertical-align: baseline;
}
#startDate, #endDate{
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
#gallerySifterFilter{
    display:none;
}
#showFiltersButton{
    margin-left:1rem;
    font-size:1.5rem;
 
}

/*Media Queries*/

@media only screen and (max-width: 58.250em){
    .Card{
       width: 18rem;
       height:18rem;
    }
    
   
}
@media only screen and (max-width: 41.625em){
    #gallerySifterFilter > div > div{
        display:flex;
        flex-flow:row-reverse nowrap;
        justify-content: space-between;
        align-items: baseline;
    }
}
@media only screen and (max-width: 36.750em){
    .Card{
        width:15rem;
        height:15rem;
    }
    
    
   
    
    
    
}  
