*{
    word-wrap: break-word;
    overflow-wrap: break-word;
    color:inherit;
    
    letter-spacing: 0.12em; 
    word-spacing: 0.16em;
    
    
}

*:focus{
    outline-color: black;
    outline: 2px solid;
    outline-offset:.35rem;
}
p a{
    min-width:0;
    min-height:0;
    display:inline;
}
label{
    display:inline-block;
}
body{
    margin:0;
    font-family: trade-gothic-next, sans-serif;
    font-weight: 400;
    font-style: normal;
    color:black;
    
    
}

a, button, input{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display:-moz-inline-box;
    display:inline-block;
    min-width: 44px;
    min-height:44px;
    
   
    
   

    font-size:1rem;
    font-family:inherit;
    cursor:pointer;
}
a, button{
    display: flex;
    align-items: center;
}
button{
    justify-content:center;
}
kbd{
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    white-space: nowrap;
    margin: 0 .1rem;
    padding: .1rem .6rem;
    color:#242729;
    text-shadow: 0 1px 0 #ffffff;
    background-color: #e4e6e8;
    border:1px solid #9fa6ad;
    border-radius:3px;
    box-shadow: 0 1px 1px  rgba(12,13,14,0.15), inset 0 1px 0 0 #ffffff;
    letter-spacing: 0em;
}



ul, ol{
    list-style-type: none;
    padding:0;
    margin:0;
}
a{
    text-decoration:none;
    justify-content:flex-start;
}
h1{
    font-size:2.25rem;    
}
h2{
    font-size:2rem;  
}
h3{
    font-size:1.75rem;
}
h4{
    font-size:1.5rem;
}
h5{
    font-size:1.25rem;
}
h6{
    font-size:1.1rem;
}
p, a, h1, h2, h3, h4, h5, h6, .FB{
    line-height:1.5;
}
main p, main h1, main h2, main h3, main h4, main h5, main h6, main a, main .FB {
    margin-bottom: 2em;
}

.FooterInfoHide section h4, .FooterInfoHide section p, small p{
    margin:0;
    font-size:1rem;
}
small{
    font-size:1rem;
}

address{
    font-style:normal;
}
#main{
    padding: 1rem 0;
   
                    /*REMOVE EVENTUALLY*/
    min-height:50vh;
}
/*Superbars*/
    /*Accessibility Options*/
#optionsBar{
    padding: 0.25rem 5%;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
}
#optionsBar li, #mobileOptionsBar li{
    
    margin: 0 2%;
}
#mobileOptionsBar{
    display:none;
}
    /*Header*/
#top{
    padding: 0.5rem 5%;
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
    font-weight:bold;
}
        /*Logo*/
#logoImage{
    width:4rem;
}
        /*Navbar*/
#headerNavigation{
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-around;  
}

.Icon{
    padding: 0rem .5rem;
}

/*Mobile Nav*/

#mobileMenuButton, #mobileMenu{
    display:none;
}
#mobileMenuButton img{
    margin-right:0.5rem;
    width:3rem;
}
#mobileMenu ul{
   
    padding: .25rem 0;
}
#mobileMenu ul li{
    padding: .25rem 0;
}
#mobileMenu ul li a{
    justify-content: center;
}
    /*Breadcrumb Bar*/
#breadcrumbBar{
    padding: 0.5rem 5%;
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    flex-flow:row wrap;
}


        /*Breadcrumb Menu*/
#breadcrumbMenu{
    display:flex;
    flex-flow:row wrap;
    align-items: baseline;
}

/*Footer*/
#mainFooter{
   
    padding: 0 5%;
  }
  
  #footerLinks, #footerNavigation, #footerInfo{
    display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
    padding:.25rem 0;
  }
  #footerLinks li, #footerNavigation li, #accessibilityInformation li, #footerInfo li{
    margin: 0 2.5%;
    padding: .25rem 0;
  }
  

#accessibilityInformation{
    padding-left: 5%;
    padding-right:5%;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
    
    
   
}
  #accessibilityInformation li{
    width:44%;
}
#accessibilityInformation li a{
    justify-content: center;
}
#footerAccessStatement, #footerConformanceClaim{
    display:none;
}
#footerAccessStatement a, #footerConformanceClaim a{
    font-weight:700;
}
  
#copyrightInfo{
    text-align:center;
    padding: .5rem 0;
    font-size:inherit;
    margin:0;
}
  

/*General*/
.BottomBorder{
    border-bottom: 1px solid black;
    transition:0.25s;
}
.TopBorder{
    border-top: 1px solid black;
    transition:0.25s;
}
.Bold{
    font-weight:bold;
}
.Left{
    text-align:left;
}
.Hidden{
    display:none;
}
.Indent{
    padding-left:1.5rem;
}
.MarginIndent{
    margin-left: 1.5rem;
    
}
.DoubleIndentM{
    margin-left:3rem;
}
.NoBreak{
    overflow-wrap: normal;
    word-wrap: normal;
    -ms-word-wrap: normal;
}
.NoWrap{
    white-space: nowrap;
}
.ILB{
    display:inline-block;
}
.ScreenReader-Only{
    position: absolute;
    width:1px;
    height:1px;
    padding:0;
    margin:-1px;
    overflow:hidden;
    clip:rect(0,0,0,0);
    white-space:nowrap;
    border:0;
}
.LabelledInput, .InputGroup{
    margin-top:.5rem;
    margin-bottom: .5rem;
}
.Created{
    word-spacing:inherit;
    line-height: inherit;
    letter-spacing: inherit;
    margin-bottom: inherit;
}

/*Button Styling*/
.FB{
    border:none;
    background-color:transparent;
    padding:0;
}
.TB:not(.FS){
    color:black;
}
.TB.FS{
    border-radius: 1.5rem;
    border:none;
    padding: 0 1rem;
    
}
.TB_hover{
    transition: 250ms;
}
.TB_hover:hover, .TB_hover:focus{
    transform:scale(1.1);
}



/*Media Queries*/

@media only screen and (max-width: 58.250em){
    #optionsBar, #sHOParent, .FooterInfoHide{
        display:none;
    }
    #mobileOptionsBar{
        padding: 0.25rem 5%;
        display:flex;
        flex-flow:row wrap;
        justify-content:space-around;
    }
    #accessibilityInformation li{
        width: inherit;
    }
    #footerConformanceClaim, #footerAccessStatement{
        display:block;
    }
   
}
@media only screen and (max-width: 36.750em){
    #headerNavigation, #siteMapLink{
        display:none;
    }
    #mobileMenuButton{
        display:flex;
        flex-flow:row nowrap;
        align-items: center;
    }
    .Indent{
        padding-left:.75rem;
    }
    .MarginIndent{
        margin-left:.75rem;
    }
    .DoubleIndentM{
        margin-left:1.5rem;
    }
    #accessibilityInformation{
        text-align: center; 
    }
}  
@media only screen and (max-width: 22.500em){
    .Indent{
        padding-left:0;
    }
    .MarginIndent{
        margin-left:0;
    }
    .DoubleIndentM{
        margin-left:0;
    }
    .InputGroup{
        justify-content: space-between;
    }

}