body{
    margin:0;
    font-family: trade-gothic-next, sans-serif;
    font-weight: 400;
    font-style: normal;

}

ul{
    list-style-type: none;
    padding:0;
    margin:0;
}

a{
    text-decoration:none;

    /*will need to be later removed*/
    color:black;
}

p, h1, h2, h3, h4, h5, h6{
    margin:0;
}


small{
    font-size:100%;
}

address{
    font-style:normal;
}

#main{
    min-height:50vh;
    padding: 1rem 5%;
}

button{
    border:0;
    font-size:100%;
    font-family:inherit;
    background-color:transparent;
    cursor:pointer;
    padding:0;

}
/*Superbars*/
    /*Accessibility Options*/
#optionsBar{
    padding: 0.25rem 5%;
    display:flex;
    flex-flow:row wrap;
    
    
}
#optionsBar li{
    padding: 0.25rem 0;
    width:15%;
    margin-right:5%;
}
    /*Header*/
#top{
    padding: 0.5rem 5%;
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items:baseline;
}
        /*Logo*/
#logoImage{
    width:6rem;
}
        /*Navbar*/
#headerNavigation{
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-around;
    
}

.Icon{
    display:flex;
    flex-flow: row nowrap;
    align-items:center;
    padding: 0rem .5rem;
}

.Icon img{
    width:4rem;
    padding-right:0.5rem;
}

    /*Breadcrumb Bar*/
#breadcrumbBar{
    padding: 0.5rem 5%;
    display:flex;
    align-items: baseline;
    flex-flow:row wrap;
    
    
}
        /*Breadcrumb Menu*/
#breadcrumbMenu{
    display:flex;
    flex-flow:row nowrap;
    align-items: baseline;
    width:50%;
    margin-right:30%;
    
}

/*Footer*/
#mainFooter{
    display:flex;
    flex-flow:row wrap;
    padding: 0 5%;
    margin-top:1rem;
    border-top: 1px solid black;
}

    /*Important Links*/
#footerLinks{
    width:100%;
    padding: 1rem 0rem;
   
}

#footerLinks ul {
    display: flex;
    flex-flow: row wrap;
       
}
#footerLinks ul li{
    width:15%;
    margin-right:5%;
}


    /*Footer Navigation*/
#footerNavigation{
    width:100%;
    padding: 1rem 0rem;
    
}
#footerNavigation ul{
    display:flex;
    flex-flow:row nowrap;

}
#footerNavigation ul li{
    width:15%;
    margin-right:5%
}

/*Accessibility Information*/
#accessibilityInformation{
    width:100%;
    display:flex;
    flex-flow:row wrap;
    padding: 1rem 0rem;
   

}
#accessibilityInformation li{
    width: 30%;
    margin-right:10%;
}

    /*Extra Info*/
#footerInfo{
    display:flex;
    flex-flow:row wrap;
    padding: .5rem 0rem;
    width:100%;

}


#footerInfoNumber{
    width: 35%;
    margin-right:5%;
    padding:0.5rem 0;
}
#footerInfoEmail{
    width:40%;
    
    padding:0.5rem 0;
}




#copyrightInfo{
    width:100%;
    padding: 1rem 0;
}

/*General*/
.BottomBorder{
    border-bottom: 1px solid black;
    transition:0.25s;
}

.Bold{
    font-weight:bold;
}

.Left{
    text-align:left;
}

.Hidden{
    display:none;
}

/*Media Queries*/

@media only screen and (max-width: 50.438em){
    #headerNavigation li a span{
        display:none;
    }
}
@media only screen and (max-width: 36.250em){
    a, button, span, p, section h4{
        font-size:0.75rem;
    }
    #logoImage{
        width:4rem;
    }
    .Icon img{
        width: 2.6666rem;
    }
    h1{
        font-size:1.5rem;
    }
    h2{
        font-size:1.125rem;
    }
    h3{
        font-size:0.8775rem;
    }
    


    h5{
        font-size:.6225rem;
    }
    h6{
        font-size:.5025rem;
    }


}