i{
    display:block;
}
#contentShowcase{

    text-align:center;
}
#contentImage{

    max-width: 80%;
}
#showcaseOptions{
    margin-top:.5rem;

    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items:baseline;
}
#showcaseOptions > *{
    margin: 0.5rem;
}

