i{
    display:block;
}

#contentImage{
    max-width: 80%;
    margin-left:auto;
    margin-right:auto;
    display:block;
}
#showcaseOptions{
    
    margin-top:.5rem;
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items:baseline;
}
#showcaseOptions > *{
    margin: 0.5rem;
}
#optionsHeader{
    width: 100%;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    text-align:center;
}